<a href="https://colab.research.google.com/github/christabs27/Linear-Regression-for-Heights/blob/main/11_11_1_Activity.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Activity 11.11.1

In this activity, you'll use the Python `mlxtend` model to generate association rules for a set of grocery transactions using the Apriori algorithm.

#Step 1: Install the Necessary Packages
Install the necessary packages as follows:

```
!pip install mlxtend  
import pandas as pd
from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import apriori, association_rules
```

In [1]:
#Step 1
!pip install mlxtend  
import pandas as pd
from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import apriori, association_rules

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: mlxtend in /usr/local/lib/python3.7/dist-packages (0.14.0)
Requirement already satisfied: scikit-learn>=0.18 in /usr/local/lib/python3.7/dist-packages (from mlxtend) (1.0.2)
Requirement already satisfied: matplotlib>=1.5.1 in /usr/local/lib/python3.7/dist-packages (from mlxtend) (3.2.2)
Requirement already satisfied: setuptools in /usr/local/lib/python3.7/dist-packages (from mlxtend) (57.4.0)
Requirement already satisfied: numpy>=1.10.4 in /usr/local/lib/python3.7/dist-packages (from mlxtend) (1.21.6)
Requirement already satisfied: pandas>=0.17.1 in /usr/local/lib/python3.7/dist-packages (from mlxtend) (1.3.5)
Requirement already satisfied: scipy>=0.17 in /usr/local/lib/python3.7/dist-packages (from mlxtend) (1.7.3)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=1.5.1->mlxtend) (3.0.9)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=1.5.1->mlxtend) (2.8.2)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=1.5.1->mlxtend) (0.11.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=1.5.1->mlxtend) (1.4.4)
Requirement already satisfied: typing-extensions in /usr/local/lib/python3.7/dist-packages (from kiwisolver>=1.0.1->matplotlib>=1.5.1->mlxtend) (4.1.1)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.17.1->mlxtend) (2022.4)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.1->matplotlib>=1.5.1->mlxtend) (1.15.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn>=0.18->mlxtend) (3.1.0)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-learn>=0.18->mlxtend) (1.2.0)

#Step 2: Read in the Data
* Run the following code block to read in the transaction data from the example in class.
* View the transaction data.

In [2]:
#Step 2

transactions = [
['bread', 'peanut butter', 'apples', 'milk'],
['bread', 'peanut butter', 'milk'],
['bread', 'peanut butter'],
['peanut butter', 'apples', 'milk'],
['peanut butter', 'apples'],
['apples', 'milk'],
['peanut butter', 'milk']
]

transactions

[['bread', 'peanut butter', 'apples', 'milk'],
 ['bread', 'peanut butter', 'milk'],
 ['bread', 'peanut butter'],
 ['peanut butter', 'apples', 'milk'],
 ['peanut butter', 'apples'],
 ['apples', 'milk'],
 ['peanut butter', 'milk']]

#Step 3: Encode the Data 
* Use `TransactionEncoder()` from Mlxtend to get the transaction data in the correct format for the Apriori algorithm.
* Run the following code block to transform and print the data. How has the transaction encoder organized the information from each transaction?

In [3]:
#Step 3

te_ = TransactionEncoder()
te_ary = te_.fit(transactions).transform(transactions)
te = pd.DataFrame(te_ary, columns=te_.columns_)

te

   apples  bread   milk  peanut butter
0    True   True   True           True
1   False   True   True           True
2   False   True  False           True
3    True  False   True           True
4    True  False  False           True
5    True  False   True          False
6   False  False   True           True

**Step 3 Answer:**

#Step 4: Calculate the Minimum Support
* In the slides, the minimum support is defined as the number of times a product or set of products had to be purchased to qualify as "frequent."  That number is set to 3.
* `Mlxtend` defines minimum support slightly differently. It defines minimum support as the *proportion* of purchases that contained that product to qualify as "frequent." For example, one could say an item was purchased "frequently" if it shows up in at least 50% of purchases. The minimum support would then be 50% or 0.5.
* Run the following code block to view the support for each of the items and sets of items purchased. The minimum support is intentionally set to be very low so all the combinations of items would print.
* Apples and bread have a very low support (0.14). What do you notice about the support for other combinations that include apples and bread?

In [12]:
#Step 4

frequent_itemsets = apriori(te, min_support = .1, use_colnames=True)


frequent_itemsets

     support                              itemsets
0   0.571429                              (apples)
1   0.428571                               (bread)
2   0.714286                                (milk)
3   0.857143                       (peanut butter)
4   0.142857                       (bread, apples)
5   0.428571                        (milk, apples)
6   0.428571               (peanut butter, apples)
7   0.285714                         (bread, milk)
8   0.428571                (bread, peanut butter)
9   0.571429                 (peanut butter, milk)
10  0.142857                 (bread, milk, apples)
11  0.142857        (bread, peanut butter, apples)
12  0.285714         (peanut butter, milk, apples)
13  0.285714          (bread, peanut butter, milk)
14  0.142857  (bread, peanut butter, milk, apples)

**Step 4 Answer:**

#Step 5: Calculate the Confidence and Lift
* Run the following code block to calculate the confidence and lift for combinations of items.  
* Interpret the rows as follows: "If you buy antecedent, how likely are you to buy consequent?"  For example, in the first row, "If someone buys apples, how likely are they to also buy milk?"
* Which combination produces the highest level of confidence?
* Which combination produces the highest lift?

In [9]:
from numpy import apply_over_axes
#Step 5

In [10]:
#Confidence(A->B) = number of occurrences of A and B together
 #number of occurrences of A
#Bread plus apples divded by apply_over_axes

0.142857/0.571429

0.24999956250032815

In [11]:
#Lift(A->B) = number of occurrences of A and B together
 #number of occurrences of A x number of occurrences of B
0.142857/(0.428571*	0.571429)

0.5833328958336615

**Step 5 Answer:**

def calculate_confidence(df, 
df = the output from the apriori algorithm
itemset, frequency

item_A = string representing your first item
item_B = string for the second item (e.x. "milk")
Goal: calculate confidence(A-->B)